body {
  background: rgb(83,23,82);
  background: linear-gradient(338deg, rgba(83,23,82,1) 63%, rgba(31,33,96,1) 100%);
  font: normal 1em 'Quicksand', helvetica, arial, sans-serif;
}

main {
  width: 100%;
}

.container {
  position: relative;
  min-height: 4rem;
  padding:0;
}

.header-logo {
  line-height: 6rem;
  font-size:22px;
  color: #c3c3c3
}

.palette-logo {
  font-size: 28px;
  vertical-align: sub;
}

.sub {
  vertical-align: sub;
}

.navMenu {
  display:flex;
  color: #c3c3c3
}

.navLinks {
  padding-left: 3rem;
}

.top-menu-links{
  color: #c3c3c3!important;
  cursor:pointer;
  background-color: transparent;
  border: 0;
  outline: none!important;
}

.top-menu-links:hover {

  text-decoration: underline!important;
}

@media screen and (max-width: 813px) {  

  :first-child.navLinks {
    padding-left: 0;
  }

  .container {
    flex-direction: column;
  }
  .header-logo{
    line-height: 3.5rem;
  }

  .header-nav {
    line-height: 2rem;
  }
  .navLinks {
    text-align: center;
  }

  .navbar {
    margin-bottom: 20px;
  }
}

.header-project-total {
  padding-left: 1rem;
}

/* End top nav */

section {
  padding: 0 0 0 1rem;
  line-height: 2rem;   
  width:100%; 
  display: flex;
}

.projects-des{
  display: block;
  width: 100%;
}

.project-colors-container {
  background-color: cyan;
  width:100%;
}

 /* next container */

.project-pal-nav {
  min-height: auto;
  width:100%;
  display: flex;
}

.project-color-button {
  width:50%;
  background-color: cyan;
}

.colors-sticky {
  position: sticky;
  top: -100px;
  z-index: 1999;
  background-color: #222;
  border-radius: 15px;
  padding-bottom: 3px;
}

.palette-color-container {
  display: flex;
  overflow: auto;
  width: auto;
  margin:1rem 0 0 0;
  padding: 1rem 0 1rem 1rem;
}

@media screen and (max-width: 813px) {
  .projects-container {
    flex-direction: column;
  }
  projects-container {
    flex-direction: column;
  }  

  .popup-content {
    width:90%;
    z-index: 2000!important;
  }

  .mr-2{
    margin:2px!important;
  }
}

/* card css */

.image-card {
  margin-right:1rem;
  padding:0.5rem;
}

.color-image {
  width: 150px;
  border-radius: 15px;
}

/* modal */
.modalnav {
  font-size: 12px;
}
.modalnav > .headernav {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.modalnav > .contentnav {
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
}
.modalnav  {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modalnav  .closenav {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.closenav:focus {
  outline: none!important;
}

.popup-overlay {
  z-index: 2000!important;
  border-radius: 5px;
} 

.popup-content {
  border-radius: 10px;
}

/* nav */

.navbar-transparent-template {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  color:#66615B;
}

.template-col-default {
  background-color:#ffffff; 
}

.project-button {
  width: 60px;
  height: 15rem;
  background: transparent;
  border: 0;
  outline: none!important;
}

.project-button svg {
  width: 40px;
  height: 55px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto;
}

.text-info{
  word-break: break-word;
}

.project-min-width{
  /* min-width: 71vw; */
  width: 100%;
  /* max-width: 71vw; */
  display: block;
}


@media screen and (max-width: 813px) {
  .project-button {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: 0;
    outline: none!important;
  }

  .project-button svg {
    width: 40px;
    height: 55px;
    transform: rotate(90deg);
    /* background-color: #ffffff; */
  }
  .d-flex-pro{
    flex-direction: row!important;
  }

  .d-flex-color{
    flex-direction: column!important;
  }  

  .grid-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .colors-sticky {
    top: -56px;
  }
  .text-info{
    word-break:normal;
  }

  .project-min-width {
      min-width: 95vw;
      display: block;
  }

  body {
    background-color: #000
  }
  
}

.fa-lock{
  font-size: 18px
}

.fa-unlock-alt {
  font-size: 18px
}

/*most of the overrides are here*/

.fa-lock:hover {
  color:#6bd098!important;
}

.btn-custom {
color: #c3c3c3!important
}

.text-light {
  color:#66615B!important;  
}

.projects-container {
  display: flex;
  background-color: #222;
  border-radius: 15px;
  min-height: 15rem;
}

.selected-box{
  width:100px;
  height:60px;
  border-radius: 15px;
  margin:auto;
  text-align: center;
  line-height: 60px;
  color: #c3c3c3;
}

.hide-extra {
  overflow: hidden;
  height: 60px;
  text-overflow: initial;
    white-space: initial;
    display: block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
}

.nc-favourite-28 {
  color: #1DC7EA;
}

.c-height {
  line-height: 20px;
}

.colorChanger{
  width: 6rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 5px;
}


